{# <header class="header"> #}

    <div class="d-flex justify-content-center bg-white">
        <img 
            src={{ asset('media/logo.jpg') }} 
            alt="logo"
            width="300px"
            class="p-2">
        </img>
    </div>

    <nav class="navbar navbar-expand-lg bg-secondary header__nav">

        <div class="container-fluid header_container">

            <a class="navbar-brand" href={{path('index')}}>
                <img 
                    src={{ asset('media/accueil.png') }} 
                    alt="logo" 
                    width="40rem">
                </img>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar__ul" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 header__ul">
                    <li class="nav-item header__li">
                        <a class="nav-link" href={{path('car')}}>voitures</a>
                    </li>
                    <li class="nav-item header__li">
                        <a class="nav-link" href="#">services</a>
                    </li>
                    <li class="nav-item header__li">
                        <a class="nav-link" href="#">avis</a>
                    </li>
                    <li class="nav-item header__li">
                        <a class="nav-link" href={{path('app_contact')}}>contact</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item header__li">
                        <a class="nav-link" href={{path('admin')}}>admin</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>




    </nav>

{# </header> #}