{% extends 'base.html.twig' %}

{% block title %}Détails du Service{% endblock %}

{% block body %}
  <div class="container container-service">
    <div class="row m-4 mt-5">
      <div class="col-md-6">
        <img src="{{ asset('images/' ~ service.imageName) }}" alt="{{ service.serviceTitle }}" width="100%" height="auto">
      </div>
      <div class="col-md-6">
        <h2 class="text-uppercase">{{ service.serviceTitle }}</h2>
        <p class="fs-4">{{ service.description }}</p>
        <p class="fs-3">Prix : à partir de {{ service.price }} €</p>
      </div>
    </div>
  </div>
{% endblock %}
