{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}

<main>

  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Entretiens et réparations</h1>
        <p class="lead text-body-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         A, facere quia quidem incidunt nemo cumque eaque eos.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">




   
{% for service in services %}
        <div class="col ">
          <div class="card shadow-sm card-services">
            <div class="card-image-services">
            <img src="{{ asset('images/' ~ service.imageName) }}" alt="..." width="100%" height="225" role="img">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em" >{{ service.serviceTitle }}</text>
        </div>
            <div class="card-body overflow-hidden">
              <p class="card-text text-services">{{ service.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-primary" href="{{ path('app_services_show', {'id': service.id}) }}">Voir</a>
                </div>
                <small class="text-body-secondary">à partir de {{ service.price}} €</small>
              </div>
            </div>
          </div>
        </div>
 {% endfor %}

      </div>
    </div>
  </div>

</main>










{% endblock %}
