{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}

    {{form_start(formCar)}}

        <div class="row">
            <div class="col">
                {{form_row(formCar.mileage)}}
            </div>
            <div class="col">
                {{form_row(formCar.price)}}
            </div>
        </div>

    {{form_end(formCar)}}

    <a href= "{{path('car')}}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}
