{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}

<section class="container">

<h1 class="text-uppercase text-center p-2 m-2">{{car.modele}}</h1>
    <div class="row d-flex justify-content-between mb-5">
    
  

        <div id="carouselExampleControlsNoTouching" class="carousel slide col-8 bg-secondary p-0" data-bs-touch="false">
            <div class="carousel-inner">
            {% for imageName in imageNames %}
                <div class="carousel-item border border-success border-3 p-0 {% if loop.first %} active{% endif %}">
                <img src="{{ imagePath }}{{ imageName}}" class="d-block w-100" alt="image">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev bg-transparent" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-transparent" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="card col-4 m-0 p-0 border border-3" style="width: 22rem;">
            <div class="card-body">
                <h3 class="card-title">{{car.modele}}</h3>
                <div class="border bg-success m-3"></div>
                <h4 class="card-subtitle mb-2 text-body-secondary">{{car.mileage|number_format(0, '.', ' ')}} km</h4>
                <h4 class="card-subtitle mb-2 text-body-secondary">{{car.price}} €</h4>
                <h4 class="card-subtitle mb-2 text-body-secondary">{{ car.dateCreation | date('Y') }}</h4>
                <div class="border bg-success m-3"></div>
                <p class="card-text fs-4 text-uppercase">Equipements :</p>
                <ul>
                    {% for equipment in car.getIsEquipped() %}
                    <li class="card-text text-italic text-muted">{{ equipment.equipmentTitle }}</li>
                    {% endfor %}
                </ul>
                <div class="border bg-success m-3"></div>
                <div class="d-flex justify-content-evenly">
                    <a type="button" href={{ path('app_contact', {'getModele': car.modele }) }} class="btn btn-primary  text-uppercase">contact</a>
                    <button type="button" href="#" class="btn btn-primary text-uppercase">Téléphone</button>                
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
