{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="container form-reviews">
    <h3>laissez-nous un commentaire</h3>

    {{ form_start(form) }}
    {{form_row(form.author)}}
    {{form_row(form.comment)}}
    {{form_row(form.note)}}

<button type="submit" class="btn btn-primary fs-4">Envoyer</button>
<p class="fst-italic">votre commentaire sera publié après validation par nos équipes.</p>
    {{ form_end(form) }}


</div>
